beautifulsoup4
cachetools
chromedriver-py
cloudpathlib
colorama
decorator
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
fastjsonschema
gensim
lxml
matplotlib
matplotlib-inline
nltk
numpy
pandas
plotly
pydantic
python-dateutil
regex
requests
seaborn
spacy
spacy-legacy
spacy-loggers
streamlit
streamlit-option-menu
tokenizers
tqdm
vaderSentiment
wordcloud
